.btn_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 3px;
  transition: $transition;

  @include max(1100px) {
    padding: 0.6rem 1rem !important;
  }

  @include max(767px) {
    padding: 0.4rem 1rem;
  }

  &:hover {
    background-color: $primary-color;
    color: $white-color;
    transform: scale(1.04);

    .btn_rotate45 {
      transform: rotate(0);
    }

    .hov_ic {
      display: block;
    }

    .non_hov_ic {
      display: none;
    }
  }

  img {
    width: 1.37rem;
  }

  span {
    // position: relative;
    // top: 3px;
  }
}

.btn_transparent {
  background-color: transparent;
  color: $primary-color;
}

.btn_primary {
  background-color: $primary-color;
  color: $white-color;
}

.sec_button {
  margin-top: 1rem;

  a {
    display: inline-block;
  }

}

.btn_light {
  background-color: $white-color;
  color: $primary-color;
}

.white_border {
  border: 1px solid #ddd;
}

.primary_border {
  border: 1px solid $primary-color;
}

.btn_center {
  text-align: center;
}

.btn_rotate45 {
  transform: rotate(-45deg);
  transition: $transition;
}

// transparent text button 
.read_more_btn {
  margin-top: 1rem;

  .transparent_btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
    // transition: background-color 0.3s, color 0.3s;
    font-size: 0.87rem;
    font-weight: 600;
    transition: $transition;

    &:before {
      @include lf_brd_title;
      width: 0%;
      transition: $transition;
      height: 3px;
    }

    @include max(767px) {
      font-size: 1rem;
    }

    &:hover {
      // background-color: #008060;
      color: $primary-color;
     

      .btn_rotate45 {
        transform: rotate(0);
      }

      &::before {
        width: 40%;
      }
    }

    .arrow {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;

      i {
        font-size: 0.875rem;
      }
    }
  }
}

// Top header submit icons 

.non_hov_ic {
  width: 1rem !important;
}

.hov_ic {
  display: none;
  width: 1rem !important;
}


.btn_icon {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='blue' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3862 1.03043C11.9622 1.10643 11.3832 1.29843 10.5392 1.58043L4.04918 3.74343C3.22618 4.01743 2.62918 4.21643 2.19418 4.38643C1.74218 4.56243 1.54418 4.67943 1.46118 4.75843C1.31539 4.89841 1.19939 5.06641 1.12015 5.25235C1.04091 5.43828 1.00006 5.63831 1.00006 5.84043C1.00006 6.04254 1.04091 6.24257 1.12015 6.42851C1.19939 6.61444 1.31539 6.78244 1.46118 6.92243C1.54418 7.00243 1.74218 7.11843 2.19418 7.29443C2.82019 7.52725 3.45135 7.74597 4.08718 7.95043C4.37918 8.04743 4.58118 8.11443 4.76418 8.21143C5.20743 8.44624 5.5698 8.80895 5.80418 9.25243C5.90218 9.43543 5.96918 9.63743 6.06618 9.92943L6.07918 9.96843C6.35318 10.7904 6.55218 11.3884 6.72218 11.8224C6.89818 12.2744 7.01518 12.4724 7.09518 12.5554C7.23515 12.7011 7.40309 12.8169 7.58893 12.8961C7.77478 12.9752 7.97469 13.016 8.17668 13.016C8.37868 13.016 8.57859 12.9752 8.76443 12.8961C8.95027 12.8169 9.11821 12.7011 9.25818 12.5554C9.33818 12.4724 9.45418 12.2744 9.63018 11.8224C9.80018 11.3884 10.0002 10.7904 10.2732 9.96843L12.4372 3.47743C12.7182 2.63343 12.9102 2.05343 12.9852 1.63043C13.0612 1.20243 12.9862 1.10543 12.9482 1.06843C12.9112 1.03043 12.8142 0.954427 12.3862 1.03043ZM12.2112 0.0474263C12.7212 -0.0425737 13.2562 -0.0375736 13.6562 0.361426C14.0552 0.761426 14.0602 1.29643 13.9702 1.80643C13.8802 2.31143 13.6642 2.96043 13.4002 3.75343L13.3852 3.79343L11.2222 10.2854L11.2172 10.3004C11.0129 10.9342 10.7946 11.5634 10.5622 12.1874C10.3872 12.6334 10.2122 13.0074 9.97918 13.2494C9.74589 13.4923 9.46592 13.6856 9.1561 13.8176C8.84627 13.9496 8.51296 14.0176 8.17618 14.0176C7.83941 14.0176 7.5061 13.9496 7.19627 13.8176C6.88644 13.6856 6.60648 13.4923 6.37318 13.2494C6.14118 13.0064 5.96518 12.6334 5.79018 12.1874C5.61018 11.7264 5.40318 11.1044 5.13518 10.3004L5.13018 10.2854C5.01518 9.94043 4.97418 9.82243 4.92018 9.72143C4.77962 9.45519 4.56219 9.23742 4.29618 9.09643C4.19618 9.04343 4.07718 9.00243 3.73218 8.88643L3.71718 8.88243C3.08352 8.67777 2.45437 8.45939 1.83018 8.22743C1.38418 8.05243 1.01018 7.87743 0.768183 7.64443C0.525299 7.41113 0.332055 7.13117 0.20005 6.82134C0.0680448 6.51151 0 6.1782 0 5.84143C0 5.50465 0.0680448 5.17134 0.20005 4.86151C0.332055 4.55169 0.525299 4.27172 0.768183 4.03843C1.01118 3.80543 1.38418 3.63043 1.83018 3.45543C2.29118 3.27543 2.91318 3.06843 3.71718 2.80043L3.73218 2.79543L10.2232 0.632426L10.2642 0.618426C11.0572 0.354426 11.7062 0.138427 12.2112 0.0484267' fill='%23E11F25'/%3E%3C/svg%3E%0A");
  width: 1rem;
  height: 1rem;
  display: block;
  background-size: cover;
}

// Submit Button Forms 
.submit_button {
  margin-top: 3rem;

  .btn_btn {
    padding: 0.6rem 4rem;
  }
}